NET CLK_50MHz LOC = "C9" | IOSTANDARD = LVCMOS33 | TNM_NET = CLK;
TIMESPEC TS_clk = PERIOD CLK 20.0ns HIGH 40%;

NET CLK_108MHz TNM_NET = PCLK;
TIMESPEC TS_108 = PERIOD PCLK 9.2592ns HIGH 50%;

NET "reset" LOC = D18 | IOSTANDARD = LVTTL | PULLDOWN;

NET UART_RX LOC = U8  | IOSTANDARD = LVTTL;

NET VGA_RED   LOC = H14 | IOSTANDARD = LVTTL;
NET VGA_GREEN LOC = H15 | IOSTANDARD = LVTTL;
NET VGA_BLUE  LOC = G15 | IOSTANDARD = LVTTL;
NET VGA_HSYNC LOC = F15 | IOSTANDARD = LVTTL;
NET VGA_VSYNC LOC = F14 | IOSTANDARD = LVTTL;

TIMESPEC TS_IG1 = FROM PCLK TO CLK TIG;
TIMESPEC TS_IG2 = FROM CLK TO PCLK TIG;
